.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  padding: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  >div{
    padding: 10px;
  }
  .details{
    flex-direction: row;
  }
}
.buy-block{
  padding-top: 30px;
  .seat-select{
    width: 130px;
  }
}

.buy-block .seat-select:not(:first-child){
  margin-left: 20px;
}

.image-block {
  display: flex;
  flex-grow: 1;
  min-width: 350px;
}

.actions-block {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image-block{
    img{
      width: 100%;
    }
    width: 100%;
  }
}